#icon {
    height:98px ; 
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume {
    top: $top_nav_height;
    position: relative;
    font-size: 1.25rem;
    background-color: $background;
    color: #5cdb95;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 1rem;
    section {
        display: flex;
        overflow: auto;
        border-right: 0.1em black solid;
        border-left: 0.1em black solid;
        border-bottom: 0.1em black solid;
        flex-direction: column;
        .sec_h3 {
            text-decoration: underline;
            background-color: #5cdb95;
            color: black;
            font-family: 'Major Mono Display', monospace;
            height: 51px;
            padding-left: 2em;
        }
        .sec_content {
            padding-left: 3em;
            padding-right:2em;
        }
    }   

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 0.1em black solid;
        a {
            color: rgba(0, 0, 0, 0);
            .resume_icon {
                height: 5vh;
                width: 5vh;
                padding-right:2vw;
            }
        }  
        
        ul {
            list-style: none;
            li{
                a{
                    text-decoration:none;
                    color: black;
                    
                }
            }
        }
    }

    .education {
        margin-bottom: $edu_padding;
        .edu_title {
            min-width: fit-content;
            display: inline-flex;
            flex-direction: row;
            text-decoration: underline;
            .edu_name{
                display: block;
                min-width: 35vw;
            }
            .edu_year {
                padding-left: 5vw;
            }
        }
    }
}