/* Variables */
$background: rgb(5, 56, 107);
$footer_height: 65px;
$top_nav_height:50px;
$footer_social_height: $footer_height * 0.8;
$edu_padding:$footer_height*1.75;
$contact_button_font_size: 20px;
$contact_button_padding : ($footer_height - $contact_button_font_size) / 2;


/* Linking Stylesheets By Loading Order */
@import './normalize.scss';
@import './mobile';
@import './nav';
@import './abtme';
@import './footer';
@import './resume';
@import './projects';

body {
    background-color: $background;
}



  



    