.footer {
    bottom: 0;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5cdb95;
    font-family: 'Major Mono Display', monospace;
    width: 100%;
    height: $footer_height;
    border-top: solid 2px black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.587);
    .footer_socials {
        margin-left: 10px;
        a {
            text-decoration: none;
            img{
                height: $footer_social_height;
                width: $footer_social_height;
            }
        }
    }   
    .footer_p {   
        font-size: 1em;   
    }

    .footer_contact {
    display: flex; 
    align-items: center;
    border-left: solid black 1px;
    height: $footer_height;
    font-size: $contact_button_font_size;

    /*font-size: 1em; for media query and width 25vw below*/
       .contact_button {
           text-align: center;
           border: none;
           padding-top:$contact_button_padding;
           padding-bottom:$contact_button_padding;
           width: 15vw;
           cursor: pointer;
           background-color: rgb(0, 7, 44);
           color: white;
       }
       .contact_button:hover {
           background-color: pink;
           color: black;
       }
    }
}