.start {
    background-color: rgb(5, 56, 107);
    height: 90vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #5cdb95;

    .herotxt {
        text-align: center;
        h1 {
            font-size: 5rem;
            font-family: 'Major Mono Display', monospace;
        }
        h2 {
            font-size: 3rem;
            font-family: 'Montserrat Alternates', sans-serif;
        }
    } 
}

.trap {
  position:relative;
  display:block;
  width:60px;
  border-bottom:solid 25px #5cdb95;
  border-left:solid 15px rgba(255, 0, 0, 0);
  border-right:solid 15px rgba(255, 0, 0, 0);
}

.logo {
  position: fixed;
  top:0;
  left:0;
  height: 200px;
  width: 200px;
  cursor:pointer;
  div {transition: all 0.15s ease-in-out;}
}

.logo:hover div:nth-child(1){
  left:100px;
  transform : translate(-10px , -16px);
}
.logo:hover div:nth-child(2){
   transform : translate(-20px, -10px);
}
.logo:hover div:nth-child(3){
   transform : translate(-10px , -3px);
}

#trap1 {
  top:120px;
  left:46px;
}
#trap2 {
  top:45px;
  left:51px;
  rotate:120deg;
}
#trap3 {
  top:50px;
  left:92px;
  rotate:240deg;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0vw;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

